section.hero-image {
  border-top: 10px solid $blue;
  background: url("../images/hero-twin.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 110%;
  height: 80vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: inset 0 0 0 999em $shadow;
  @include breakpoint(xxs) {
    background-size: cover;
  }
  h1 {
    &.hero-title {
      color: $white;
      text-align: left;
      font-size: 55px;
      padding-bottom: 30px;
      span {
        color: $green;
      }
    }
  }
  p {
    color: $white;
    font-size: 18px;
    line-height: 28px;
  }
  .social-icons {
    padding-top: 20px;
    a {
      margin: 10px;
      font-size: 16px;
      color: $white;
      padding: 10px 20px;
      border-radius: 10px;
      background-color: $shadow;
      &:hover {
        background-color: $green;
        cursor: pointer;
        text-decoration: none;
      }
    }
  }
}
