.supports {
    height: 80vh;
    @include breakpoint(xxs) {
        height: 100%;
    }
    .container {
        .row {
            .col-md-4 {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                img {
                    &.world {
                        height: 300px;
                    }

                    &.small-logo {
                        height: 50px;
                        margin-left: 20px;
                    }
                }

                // h5 {}
            }
        }
    }
}